<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Loan Management System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">

                        @if (User.IsInRole("Admin") || User.IsInRole("Banker"))
                        {
                            <li class="nav-item">
                                <span class="nav-link active">Welcome! @Session["u_name"]</span>
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Logout", "Logout", "User", null, new { @class = "nav-link active" })
                            </li>
                        }

                        @if (!User.IsInRole("Admin") && !User.IsInRole("Banker"))
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Login", "Login", "User", null, new { @class = "nav-link active" })
                            </li>
                        }

                        @if (User.IsInRole("Banker"))
                        {
                            <li class="nav-item">
                                @Html.ActionLink("View Users", "GetUsers", "User", null, new { @class = "nav-link active" })
                            </li>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                @Html.ActionLink("View Bankers", "GetBankers", "User", null, new { @class = "nav-link active" })
                            </li>

                            <li class="nav-item">
                                @Html.ActionLink("Add Banker", "CreateBanker", "User", null, new { @class = "nav-link active" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("View User Balance Details", "GetDetailsOfBalanceUpdatedByBanker", "User", null, new { @class = "nav-link active" })
                            </li>
                        }

                        @if (User.IsInRole("Banker"))
                        {
                            <li class="nav-item">
                                @Html.ActionLink("UnApproved Transactions", "GetUnApprovedTransactions", "Transaction", null, new { @class = "nav-link active" })
                            </li>

                            <li class="nav-item">
                                @Html.ActionLink("Approved Transactions", "GetApprovedTransactions", "Transaction", null, new { @class = "nav-link active" })
                            </li>

                            <li class="nav-item">
                                @Html.ActionLink("Rejected Transactions", "GetRejectedTransactions", "Transaction", null, new { @class = "nav-link active" })
                            </li>
                        }

                        @if (User.IsInRole("Banker"))
                        {
                            <li class="nav-item">
                                @Html.ActionLink("UnApproved Withdraw", "GetUnApprovedWithdraw", "User", null, new { @class = "nav-link active" })
                            </li>

                            <li class="nav-item">
                                @Html.ActionLink("Approved Withdraw", "GetApprovedWithdraw", "User", null, new { @class = "nav-link active" })
                            </li>

                            <li class="nav-item">
                                @Html.ActionLink("Rejected Withdraw", "GetRejectedWithdraw", "User", null, new { @class = "nav-link active" })
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="mt-auto">
        <div class="container">
            <h5 class="text-center border-top p-4">&copy; @DateTime.Now.Year - My ASP.NET Application</h5>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>
